#homepage {
  height: 75vh;
  background: url('media/background.svg') no-repeat center/cover;
  background-attachment: fixed;
  display: flex;
  overflow: hidden;
}

.homepage-content {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.text-content {
  flex: 1;
  color: white;
  z-index: 2;
  margin-top: 3rem;
}

.text-content h1 {
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 700;
}

.text-content p {
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 1.1em;
}