@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-size: 1.3em;
}

h1, p {
    font-family: 'Nunito';
}

button {
  padding: 10px 20px;
  background: #ff5a5f;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1.4em;
}